.logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  color: #333;
  display: block;
  font: {
    family: Ubuntu;
    size: 30px;
    weight: 600;
  };
  height: 36px;
  line-height: 22px;
  margin: 37px 5px;
  padding-left: 44px;
  text-decoration: none;
  width: 165px;
  span {
    display: block;
    font: {
      size: 12px;
      weight: 300;
    };
    letter-spacing: 3.5px;
    line-height: 17px;
  }
}

.logo--left {
  float: left;
}

.logo--right {
  float: right;
}
