<!-- ****************************   Footer   *************************** -->
<footer id="apple">
  <nav class="ap-navigation">
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Shop and Learn</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/mac/">Mac</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/http://www.apple.comipad/">iPad</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/http://www.apple.comiphone/">iPhone</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/watch/">Watch</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/tv/">TV</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/music/">Music</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/itunes/">iTunes</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/ipod/">iPod</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/buy_accessories">Accessories</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/giftcards">Gift Cards</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Apple Store</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/">Find a Store</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/geniusbar/">Genius Bar</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/learn/">Workshops and Learning</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/learn/youth/">Youth Programs</a></li>
          <li class="ap-navigation__menu-item"><a href="https://itunes.apple.com/app/apple-store/id375380948?mt=8">Apple Store App</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/special_deals">Refurbished</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/payment_plan">Financing</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/reuse_and_recycle">Reuse and Recycling</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/account">Order Status</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/help">Shopping Help</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">For Education</button>
        <ul class="ap-navigation__menu ap-navigation__menu--btm-padding">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/education/">Apple and Education</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/educationrouting">Shop for College</a></li>
        </ul>
      </div>
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">For Business</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/business/">Apple and Business</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/business/">Shop for Business</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Account</button>
        <ul class="ap-navigation__menu ap-navigation__menu--btm-padding">
          <li class="ap-navigation__menu-item"><a href="https://appleid.apple.com/us/">Manage Your Apple ID</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/account">Apple Store Account</a></li>
          <li class="ap-navigation__menu-item"><a href="https://www.icloud.com">iCloud.com</a></li>
        </ul>
      </div>
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Apple Values</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/environment/">Environment</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/supplier-responsibility/">Supplier Responsibility</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/accessibility/">Accessibility</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/privacy/">Privacy</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/diversity/">Inclusion and Diversity</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/education/connectED/">Education</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">About Apple</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/about/">Apple Info</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/newsroom/">Newsroom</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/jobs/us/">Job Opportunities</a></li>
          <li class="ap-navigation__menu-item"><a href="http://investor.apple.com">Investors</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/apple-events/">Events</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/contact/">Contact Apple</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="ap-final">
    <p class="ap-shops">More ways to shop: Visit an
      <a href="http://www.apple.com/retail/">Apple Store</a>,
      call 1-800-MY-APPLE, or <a href="https://locate.apple.com/">find a reseller</a>
    </p>
    <div class="ap-legal clearfix">
      <div class="ap-legal__country">
        <a href="http://www.apple.com/choose-your-country/" title="Choose your country or region">
          <span></span>United States
        </a>
      </div>
      <div class="ap-legal__wrapper">
        <div class="ap-legal__copy">
          Copyright &copy; 2016 Apple Inc. All rights reserved.
        </div>
        <nav class="ap-legal__links">
          <a href="http://www.apple.com/privacy/privacy-policy/">Privacy Policy</a>
          <a href="http://www.apple.com/legal/internet-services/terms/site.html">Terms of Use</a>
          <a href="http://www.apple.com/us/shop/goto/help/sales_refunds">Sales and Refunds</a>
          <a href="http://www.apple.com/legal/">Legal</a>
          <a href="http://www.apple.com/sitemap/">Site Map</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
