<!-- ****************************   Footer   *************************** -->
<footer id="apple">
  <nav class="ap-navigation">
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Shop and Learn</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/mac/">Mac</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/http://www.apple.comipad/">iPad</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/http://www.apple.comiphone/">iPhone</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/watch/">Watch</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/tv/">TV</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/music/">Music</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/itunes/">iTunes</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/ipod/">iPod</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/buy_accessories">Accessories</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/giftcards">Gift Cards</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Apple Store</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/">Find a Store</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/geniusbar/">Genius Bar</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/learn/">Workshops and Learning</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/learn/youth/">Youth Programs</a></li>
          <li class="ap-navigation__menu-item"><a href="https://itunes.apple.com/app/apple-store/id375380948?mt=8">Apple Store App</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/special_deals">Refurbished</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/payment_plan">Financing</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/reuse_and_recycle">Reuse and Recycling</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/account">Order Status</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/help">Shopping Help</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">For Education</button>
        <ul class="ap-navigation__menu ap-navigation__menu--btm-padding">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/education/">Apple and Education</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/educationrouting">Shop for College</a></li>
        </ul>
      </div>
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">For Business</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/business/">Apple and Business</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/retail/business/">Shop for Business</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Account</button>
        <ul class="ap-navigation__menu ap-navigation__menu--btm-padding">
          <li class="ap-navigation__menu-item"><a href="https://appleid.apple.com/us/">Manage Your Apple ID</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/us/shop/goto/account">Apple Store Account</a></li>
          <li class="ap-navigation__menu-item"><a href="https://www.icloud.com">iCloud.com</a></li>
        </ul>
      </div>
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">Apple Values</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/environment/">Environment</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/supplier-responsibility/">Supplier Responsibility</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/accessibility/">Accessibility</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/privacy/">Privacy</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/diversity/">Inclusion and Diversity</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/education/connectED/">Education</a></li>
        </ul>
      </div>
    </div>
    <div class="ap-navigation__column">
      <div class="ap-navigation__menu-block">
        <button class="ap-navigation__button" type="button">About Apple</button>
        <ul class="ap-navigation__menu">
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/about/">Apple Info</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/newsroom/">Newsroom</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/jobs/us/">Job Opportunities</a></li>
          <li class="ap-navigation__menu-item"><a href="http://investor.apple.com">Investors</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/apple-events/">Events</a></li>
          <li class="ap-navigation__menu-item"><a href="http://www.apple.com/contact/">Contact Apple</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>


  <section class="ac-gf-footer">
  	<div class="ac-gf-footer-shop" x-ms-format-detection="none"> More ways to shop: Visit an <a href="/retail/">Apple Store</a>, <span class="nowrap">call 1-800-MY-APPLE, or <a href="https://locate.apple.com/">find a reseller</a></span>. </div>
  	<div class="ac-gf-footer-locale"> <a class="ac-gf-footer-locale-link" href="/choose-your-country/" title="Choose your country or region" aria-label="United States. Choose your country or region"><span class="ac-gf-footer-locale-flag" data-hires="false"></span>United States</a> </div>
  	<div class="ac-gf-footer-legal">
  		<div class="ac-gf-footer-legal-copyright">Copyright © 2016 Apple Inc. All rights reserved.</div>
  		<div class="ac-gf-footer-legal-links"> <a class="ac-gf-footer-legal-link" href="/privacy/privacy-policy/">Privacy Policy</a> <a class="ac-gf-footer-legal-link" href="/legal/internet-services/terms/site.html">Terms of Use</a> <a class="ac-gf-footer-legal-link" href="/us/shop/goto/help/sales_refunds">Sales and Refunds</a> <a class="ac-gf-footer-legal-link" href="/legal/">Legal</a> <a class="ac-gf-footer-legal-link" href="/sitemap/">Site Map</a> </div>
  	</div>
  </section>

  <!-- <script type="text/javascript" src="/ac/globalfooter/2.0/en_US/scripts/ac-globalfooter.built.js"></script>
  <script type="application/ld+json">
  	{
  		"@context": "http://schema.org",
  		"@id": "http://www.apple.com/#organization",
  		"@type": "Organization",
  		"url": "http://www.apple.com/",
  		"logo": "https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?201607071105",
  		"contactPoint": [
  			{
  				"@type": "ContactPoint",
  				"telephone": "+1-800-692-7753",
  				"contactType": "sales",
  				"areaServed": [ "US" ]
  			}
  		],
  		"sameAs": [
  			"http://www.wikidata.org/entity/Q312",
  			"https://www.youtube.com/user/Apple",
  			"https://www.linkedin.com/company/apple"
  		]
  	}
  </script> -->
