<!-- ****************************   Header   *************************** -->
<header class="ms-nav">
  <div class="ms-nav__wrapper clearfix">
    <a class="ms-nav__logo" href="http://www.microsoft.com"><img src="images/ms_logo.png" alt="Microsoft Logo" height="23px" /></a>
    <div class="ms-nav__signin">
      <a class="ms-menu__item level0" href="https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=12&amp;ct=1468141168&amp;rver=6.5.6509.0&amp;wp=MBI&amp;wreply=https:%2F%2Fwww.microsoft.com%2Fen-us%2F&amp;lc=1033">
        Sign in
      </a>
    </div>
    <button id="ms-nav__btn-toggle-menu" class="ms-nav__hamburger" type="button" title="Menu" name="Menu"></button>
    <div class="ms-nav__cart">
      <a href="//www.microsoftstore.com/store/msusa/en_US/DisplayThreePgCheckoutShoppingCartPage" title="Cart">0</a>
    </div>
    <button id="ms-toggle-search" class="ms-nav__find-btn" type="button" title="Toggle search" name="TSearch"></button>
    <form id="ms-search-form" class="ms-nav-search-form" role="search" action="https://www.microsoft.com/en-us/search/result.aspx" method="GET" autocomplete="off">
      <div class="ms-nav-search">
        <input class="ms-nav-search__input" type="search" title="Search Microsoft.com" name="q" placeholder="Search Microsoft.com" maxlength="200" />
        <button class="ms-nav-search__btn" type="submit" title="Search!" name="Search"></button>
      </div>
    </form>
    <menu id="ms-menu__wrapper" class="hidden"></menu>
  </div>
</header>

<script id="ms-header-template" type="text/template">
  <ul class="ms-menu level0">
  <% for(var i = 0; i < data.length; i++) { %>
    <li>
      <a href="<%= data[i].link %>" class="ms-menu__item level0<%= (data[i].children.length > 0)?' with-submenu':'' %><%= data[i].classes?' ' + data[i].classes:'' %>" data-id="<%= i %>"><%= data[i].name %></a>
      <% if(data[i].children.length > 0) { %>
        <ul class="ms-menu level1">
        <% for(var j = 0; j < data[i].children.length; j++) { %>
          <li>
            <a class="ms-menu__item level1<%= (data[i].children[j].children.length > 0)?' with-submenu':'' %>" href="<%= data[i].children[j].link %>" data-id="<%= i + '.' + j %>"><%= data[i].children[j].name %></a>
            <% if(data[i].children[j].children.length > 0) { %>
              <ul class="ms-menu level2">
              <% for(var k = 0; k < data[i].children[j].children.length; k++) { %>
                <li>
                  <a class="ms-menu__item level2" href="<%= data[i].children[j].children[k].link %>" data-id="<%= i + '.' + j + '.' + k %>"><%= data[i].children[j].children[k].name %></a>
                </li>
              <% } %>
              </ul>
            <% } %>
          </li>
        <% } %>
      </ul>
      <% } %>
    </li>
  <% } %>
  </ul>
</script>
