<!-- ***********************   InVision Section   ********************** -->
<section id="invision">
  <div class="registration">
    <h2 class="registration__title">Join over 2 million designers already using InVision. Get InVision <strong>free</strong> forever!</h2>
    <form class="registration-form" action="https://projects.invisionapp.com/d/signup/process" method="post">
      <div class="registration-form__input registration-form__input--name">
        <input id="registration-form__input--name" type="text" name="name" value="" autocomplete="off" spellcheck="false" placeholder="Your Name" title="Minimum length is 5 symbols" />
      </div>
      <div class="registration-form__input registration-form__input--email">
        <input id="registration-form__input--email" type="email" name="email" value="" autocomplete="off" spellcheck="false" placeholder="Email Address" />
      </div>
      <div class="registration-form__input registration-form__input--password">
        <input id="registration-form__input--password" type="password" name="password" value="" autocomplete="off" spellcheck="false" placeholder="Create a Password" title="Minimum length is 6 symbols" />
      </div>
      <button  id="registration-form__input--submit" class="registration-form__btn" type="submit">Get Started — Free Forever!</button>
    </form>
    <p class="registration__agreement">By clicking "Get Started — Free Forever!" I agree to InVision's <a href="https://www.invisionapp.com/terms">Terms of Service</a>.</p>
  </div>
</section>
