<!-- ************************   Oculus Section   *********************** -->
<section id="oculus">
  <ul class="oc-wrapper">
    <li class="oc-proposition">
      <a href="https://www3.oculus.com/en-us/rift/#eve-valkyrie">
        <div class="oc-proposition__image oc-proposition__image--valkyrie"></div>
        <div class="oc-proposition__text-area">
          <p class="oc-proposition-text__title">Featured content</p>
          <p class="oc-proposition-text__subtitle">EVE: Valkyrie</p>
        </div>
      </a>
    </li>
    <li class="oc-proposition">
      <a href="https://www3.oculus.com/en-us/rift/#luckys-tale">
        <div class="oc-proposition__image oc-proposition__image--luckys"></div>
        <div class="oc-proposition__text-area">
          <p class="oc-proposition-text__title">Included with all Rift purchases</p>
          <p class="oc-proposition-text__subtitle">Lucky's Tale</p>
        </div>
      </a>
    </li>
    <li class="oc-proposition">
      <a href="https://www3.oculus.com/en-us/blog/over-30-full-games-launching-with-oculus-touch-this-year/">
        <div class="oc-proposition__image oc-proposition__image--touch"></div>
        <div class="oc-proposition__text-area">
          <p class="oc-proposition-text__title">Featured story</p>
          <p class="oc-proposition-text__subtitle">Over 30 Full Games Launching with Oculus Touch this Year</p>
        </div>
      </a>
    </li>
  </ul>
</section>
