@mixin psd($file, $width, $height, $left) {
  background-image:url("../psd/psd_" + $file + ".jpg");
  height: $height;
  left: $left;
  width: $width;
}

@if $DEVELOPMENT {
  /******************************************************************************
  * body::after PixelPerfect solution
  ******************************************************************************/
  body::after {
    // body width 320px
    @media screen and (max-width : $device_width_medium - 1px) {
      @include psd(s, 320px, 3905px, 0);
    };
    // body width 850px
    @media screen and (min-width : $device_width_medium)
    and (max-width : $device_width_large - 1px) {
      @include psd(m, 768px, 3658px, 3px);
    };
    // body width 1349px
    @media screen and (min-width : $device_width_large) {
      @include psd(l, 1440px, 3398px, -44px);
    };
    background: {
      position: center;
      repeat: no-repeat;
    }
    content: "";
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    top: 0;
  }
}
