// $DEVELOPMENT:  true;
$DEVELOPMENT:  false;

$device_width_large:    940px;
$device_width_medium:   768px;
$device_width_small:    320px;

$font_main_bold:      MontserratBold;
$font_main_regular:   MontserraRegular;
$font_main_light:     RobotoLight;
