//-----------------------------------------------------------------------------
//     Media Queries
//-----------------------------------------------------------------------------
$device_width_large:    940px;
$device_width_medium:   768px;
$device_width_small:    320px;

//-----------------------------------------------------------------------------
//     Fonts
//-----------------------------------------------------------------------------
$font_main_bold:      MontserratBold;
$font_main_regular:   MontserraRegular;
$font_main_light:     RobotoLight;

//-----------------------------------------------------------------------------
//     Colors
//-----------------------------------------------------------------------------
$color_login_border:          #fff;
$color_login_border_hidden:   rgba(255, 255, 255, 0);
$color_login_border_ie:       #666;

$color_background_main:       #fff;

$color_text_main:             #fff;
$color_text_title:            #333;
$color_text_subtitle:         #666;

$color_controls:              #ff4e50;

$color_partner_main:          #333;
$color_partner_study:         #ffa507;
$color_partner_tv:            #ff4e50;
$color_partner_eat:           #1cd7ad;
$color_partner_play:          #4e73db;

$color_grid_fade:             rgba(0, 0, 0, 0.4);
$color_grid_fade_hover:       rgba(0, 0, 0, 0.1);

$color_designed:              #ccc;
