/******************************************************************************
* SASS file for footer_.html
******************************************************************************/
$ap-col-bg-main: #f2f2f2;
$ap-col-menu-item: #333;
$ap-col-icon-open: #aaa;
$ap-col-menu-item-border: #e3e3e3;
$ap-col-menu-subitem: #666;
$ap-col-shop-ways: #999;
$ap-col-shop-ways-link: #08c;

$ap-max-submenu-height: 11 * 30px;

#apple {
  background-color: $ap-col-bg-main;
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 0 16px;
  @include mediaQuery(md) { padding: 0 22px; }
}

.ap-navigation {
  color: $ap-col-menu-subitem;
  display: flex;
  flex-direction: column;
  @include mediaQuery(md) { flex-direction: row; }
  margin: 0 auto;
  max-width: 980px;
  padding: 32px 0 0;
}

.ap-navigation__column {
  @include mediaQuery(md) {
    display: block;
    flex: 1 20%;
  }
}

.ap-navigation__menu-block {
  border-bottom: solid 1px $ap-col-menu-item-border;
  @include mediaQuery(md) {
    border-bottom: none;
  }
}

.ap-navigation__button {
  background-color: $ap-col-bg-main;
  border: none;
  color: $ap-col-menu-item;
  cursor: pointer;
  display: block;
  font: {
    size: 14px;
    weight: 400;
  }
  line-height: 39px;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  @include mediaQuery(md) {
    cursor: default;
    display: inline-block;
    font: {
      size: 12px;
      weight: 600;
    }
    line-height: 20px;
  }
  &::after {
    color: $ap-col-icon-open;
    // content: "\02795";
    content: "+";
    @include mediaQuery(md) { content: ""; }
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    left: 100%;
    margin-left: -1em;
    transition: transform 0.3s ease-out;
  }
  &.active::after {
    transform: rotate(45deg) scale(1.08);
    transition: transform 0.3s ease-out;
  }
  &.active {
    font-weight: 600;
    & + .ap-navigation__menu {
      max-height: $ap-max-submenu-height;
      transition: max-height 0.3s ease-in;
      visibility: visible;
    }
  }
}

.ap-navigation__menu {
  list-style-type: none;
  margin: 0;
  max-height: 0;
  padding-left: 0;
  transition: max-height 0s;
  visibility: hidden;
  @include mediaQuery(md) {
    max-height: $ap-max-submenu-height;
    visibility: visible;
  }
  &--btm-padding {
    @include mediaQuery(md) {
      padding-bottom: 20px;
    }
  }
}

.ap-navigation__menu-item {
   a {
     color: $ap-col-menu-subitem;
     display: block;
     @include mediaQuery(md) { display: inline; }
     font: {
       size: 12px;
       weight: 400;
     }
     line-height: 30px;
     padding: 0 14px;
     text-decoration: none;
     @include mediaQuery(md) {
       line-height: 20px;
       padding: 0;
     }
     &:hover {
       font-weight: 600;
     }
   }
 }

.ap-final {
  color: $ap-col-shop-ways;
  font-size: 12px;
  line-height: 20px;
  margin: 0 auto;
  max-width: 980px;
  padding: 20px 0 24px;
}

.ap-shops {
  margin: 0 auto 6px;
  padding: 20px 0 6px;
  @include mediaQuery(md) {
    border-bottom: 1px solid $ap-col-menu-item-border;
    padding-bottom: 5px;
  }
  a {
    color: $ap-col-shop-ways-link;
    text-decoration: none;
  }
}

.ap-legal {
  &__wrapper {
    padding-top: 13px;
    @include mediaQuery(md) { padding-top: 0; }
  }
  &__country {
    @include mediaQuery(md) { float: right; }
    a {
      text-decoration: none;
      color: $ap-col-menu-subitem;
      padding-left: 5px;
      span {
        @include sprite($ap-usa);
        border-radius:50%;
        display: inline-block;
        float: left;
        margin-top: 2px
      }
    }
  }
  &__copy {
    @include mediaQuery(md) {
      float: left;
      margin-right: 26px;
    }
  }
  &__links {
    @include mediaQuery(md) {
      float: left;
      margin-right: 26px;
    }
    a {
      border-right: 1px solid $ap-col-menu-item-border;
      color: $ap-col-menu-subitem;
      margin-right: 10px;
      padding-right: 12px;
      text-decoration: none;
      &:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
