/******************************************************************************
* SASS file for header.html
******************************************************************************/
$ms-nav-panel-height: 48px;
$ms-menu-item-lg-height: 54px;
$ms-menu-submenu-width: 260px;

$ms-col-bg: #fff;
$ms-col-menu-item-text: #2F2F2F;

$ms-col-menu-lev1-bg: #f1f1f1;
$ms-col-menu-lev2-bg: #e5e5e5;
$ms-col-menu-lev3-bg: #d9d9d9;
$ms-col-menu-lev4-bg: #ccc;

.ms-nav-panel {
  background-color: $ms-col-bg;
  height: $ms-nav-panel-height;
  display: flex;
  flex-direction: row;
  &__logo {
    display: block;
    margin: 0 1em;
    padding-top: 12px;
    vertical-align: middle;
  }
}

/*-----------------------------------------------------------------------------
  Menu Block
-----------------------------------------------------------------------------*/
#ms-menu {
  color: $ms-col-menu-item-text;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.ms-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  @include mediaQuery(md) {}
  @include mediaQuery(lg) {}
  &.level1 {
    background-color: $ms-col-menu-lev1-bg;
    max-width: $device-md;
    @include mediaQuery(lg) {
      background-color: $ms-col-bg;
      display: flex;
      flex-direction: row;
      & > li {
        position: relative;
      }
    }

  }
  &.level2 {
    background-color: $ms-col-menu-lev2-bg;
    display: none;
    @include mediaQuery(lg) {
      background-color: $ms-col-menu-lev1-bg;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      border-left: 1px solid rgba(0,0,0,0.05);
      border-right: 1px solid rgba(0,0,0,0.1);
      left: 0;
      position: absolute;
      top: 100%;
      width: $ms-menu-submenu-width;
    }
  }
  &.level3 {
    background-color: $ms-col-menu-lev3-bg;
    display: none;
    @include mediaQuery(lg) {
      background-color: $ms-col-menu-lev2-bg;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      border-right: 1px solid rgba(0,0,0,0.1);
      // bottom: -1px;
      left: 100%;
      position: absolute;
      top: 0;
      width: $ms-menu-submenu-width;
    }
  }
}

.ms-menu.level2.active,
.ms-menu.level3.active {
  display: block;
}

.ms-menu__item {
  color: inherit;
  display: block;
  line-height: $ms-nav-panel-height;
  position: relative;
  text-decoration: none;
  padding: 0 1em;
  @include mediaQuery(md) {
    padding: 0 1.5em;
  }
  @include mediaQuery(md) {
    &.level2,
    &.level3 { line-height: $ms-menu-item-lg-height; }
  }
  &.level1.active {}
  // #Block - Define additional 1em padding for submenu arrow
  @include mediaQuery(md) {
    &.with-submenu { padding-right: 2.5em; }
  }
  // #Block end
  // #Block - Define background color for hovered menu item
  &:hover {
    text-decoration: underline;
    &.with-submenu { text-decoration: none }
  }
  &:hover.level1 {
    background-color: $ms-col-menu-lev2-bg;
    @include mediaQuery(lg) { background-color: $ms-col-menu-lev1-bg; }
  }
  &:hover.level2 {
    background-color: $ms-col-menu-lev3-bg;
    @include mediaQuery(lg) { background-color: $ms-col-menu-lev2-bg; }
  }
  &:hover.level3 {
    background-color: $ms-col-menu-lev4-bg;
    @include mediaQuery(lg) { background-color: $ms-col-menu-lev3-bg; }
  }
  // #Block end
}

@include mediaQuery(lg) {
  .ms-menu__item.level1.active { background-color: $ms-col-menu-lev1-bg }
  .ms-menu__item.level2.active { background-color: $ms-col-menu-lev2-bg }
}

.with-submenu:after {
  content: "˅";
  line-height: $ms-nav-panel-height;
  font-size: 0.8em;
  position: absolute;
  left: 100%;
  margin-left: -2em;
  @include mediaQuery(md) { margin-left: -2.5em; }
}
@include mediaQuery(lg) {
  .level2.with-submenu:after { content: ">"; }
}
