/******************************************************************************
*                             Modal window
******************************************************************************/
#modal {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  opacity:0;

  /* The element is never the target of mouse events; however, mouse events may
  target its descendant elements if those descendants have pointer-events set
  to some other value.*/
  pointer-events: none;

  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 300ms ease-in;
  z-index: 1000;
}

/*.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}*/

#modal > div {
  background: #fff;
  background-image: linear-gradient(#fff, #999);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000;
  margin: 10% auto;
  padding: 5px 20px 15px 20px;
  position: relative;
  width: 400px;
}

.modal__close {
    background: #606061;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #000;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 24px;
}

.modal__close:hover {
  /*background: #00d9ff;*/
  background: #0078e7;
}

/*.close:target {
  opacity: 0;
  pointer-events: none;
}*/
