/******************************************************************************
* SASS variables
******************************************************************************/
// $DEVELOPMENT: true;

//-----------------------------------------------------------------------------
//     Media Queries
//-----------------------------------------------------------------------------
$device_lg: 1200px;
$device_md: 768px;
$device_sm: 520px;
