body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
}

/*   ANIMATED MENU   */

.jq-menu {
  background-color: #8D6E63;
}

.jq-menu ul {
  list-style-type: none;
  margin: 0 0;
}

.jq-menu a {
  color: #fff;
  cursor: default;
  display: block;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
}

.jq-menu a:hover {
  color: #000;
}

.jq-menu__dropdown > a {
  background-image: url("../img/arrow-down.png");
  background-position: right 20px;
  background-repeat: no-repeat;
}

.jq-menu__dropright > a {
  background-image: url("../img/arrow-right.png");
  /*background-position: right 20px;*/
  background-position: top 10px right 0px;
  background-repeat: no-repeat;
}
.jq-menu__horizontal > li {
  display: inline-block;
  position: relative;
}

.jq-menu__submenu {
  background-color: #A1887F;
  border: 1px solid #795548;
  padding: 0 5px;
  display: none;
  position: absolute;
  top: 35px;
  width: 150px;
  z-index: 3;
}

.jq-menu__submenu > li {
  border-bottom: 1px solid #795548;
}

.jq-menu__submenu > li:last-child {
  border-bottom: none;
}

.jq-menu__submenu a {
  line-height: 30px;
  padding-left: 5px;
}

/*   END OF ANIMATED MENU   */

/*  Default and jQuery Selectric SelectBox plugin (https://plugins.jquery.com/selectric/)  */

.select-block {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px 20px;
  text-align: center;
  width: 90%;
  height: 80px;
}

.block-title {
  background-color: white;
  font-weight: bold;
  left: 20px;
  position: absolute;
  top: -10px;
}

.select-block__select {
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  margin: 0 2%;
  padding: 20px 10px;
  position: relative;
  width: 27%;
}

.sel-select-wrapper {
  margin: auto;
  width: 230px;
}

/* Checkboxes */
.checkbox-block {
  padding: 20px 20px;
}

.checkbox-block__checkboxgroup {
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  margin: 0 2%;
  padding: 10px 30px;
  position: relative;
  text-align: left;
  width: 24%;
}

.jq-checkbox {
  background: url("../img/jquery-checkbox.png");
  display: inline-block;
  height: 17px;
  overflow: hidden;
  position: relative;
  top: 2px;
  width: 17px;
}

.jq-checkbox--checked {
  background-position: 0 -17px;
}

.jq-checkbox input {
  margin-left: -50px;
}


input.css-checkbox {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label.css-checkbox:before {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/jquery-checkbox.png");
  position: relative;
  top: 2px;
}

input.css-checkbox:checked + label.css-checkbox:before {
  background-position: 0 -17px;
}

label.css-checkbox:hover:before {
  /*opacity: 0.4;*/
  background-position: 0 -34px;
}

input.css-checkbox:checked + label.css-checkbox:hover:before {
  /*opacity: 0.4;*/
  background-position: 0 -51px;
}

/*  END OF Default and jQuery Selectric SelectBox plugin (https://plugins.jquery.com/selectric/)  */

/*   CAROUSEL IMPLEMENTATION   */

.jcarousel-section {
  background-image: linear-gradient(45deg, rgba(111, 103, 96, 1) 30%, rgba(111, 103, 96, .8) 70%, rgba(111, 103, 96, 1) 100%);
  padding: 10px 0;
  margin: 20px 0;
}

/*   END OF CAROUSEL IMPLEMENTATION   */

/*   FOTORAMA IMPLEMENTATION   */
.fotorama-section {
  margin: 20px auto;
  width: 800px;
}
/*   END OF FOTORAMA IMPLEMENTATION   */


/******************************************************************************
* clearfix
******************************************************************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
