body {
    background-color: #0c739f;
    background-image: url("../img/background.jpg");
    background-repeat: repeat-x;
    font-family: Tahoma;
    padding-top: 38px;
}

.container {
    background: #fff;
    border-bottom: 3px solid #031d28;
    box-shadow: 0px 3px 5px 2px #084d6a;
    margin: 0 auto;
    padding-top: 11px;
    position: relative;
    width: 1000px;
}

/********************************************************************
*  Logo, Adress and Large picture
********************************************************************/
.company {
    position: relative;
}

.logo {
    display: block;
    width: 283px;
    height: 164px;
    margin-left: 28px;
}

.contacts {
    position: absolute;
    color: #5fa5bb;
    font-size: 12px;
    line-height: 18px;
    top: -5px;
    right: 34px;
}

.contacts::first-line {
    font-weight: bolder;
    line-height: 20px;
}

.large_image {
    background-image: url("../img/thebeach.jpg");
    height: 237px;
}

.flags_board {
    position: absolute;
    bottom: 8px;
    right: 29px;
}

a.flag {
    color: #018ea9;
    display: inline-block;
    font-size: 10px;
    height: 56px;
    text-align: center;
    text-decoration: underline;
    width: 56px;
}

/********************************************************************
*  Horisontal Menu
********************************************************************/
.h_menu {
    background-color: #333333;
    border-bottom: 1px solid #000;
    border-top: 1px solid #cacbcb;
    box-shadow: 0px 3px 3px 0px #555555;
    height: 28px;
}

/*
*   Horizontal menu
*/
.h_menu > li,
.h_menu  a
 {
    color: #fff;
    display: inline-block;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    margin: 0 9px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
}

/*
*   Popup menu
*/
.h_menu > li > ul
 {
    background-color: #333333;
    box-shadow: 1px 5px 5px 0px #404040;
    display: none;
    left: 0;
    position: absolute;
    top: 29px;
    width: 150px;
    z-index: 1;
}

.h_menu  li > ul a
 {
    margin: 0;
    padding: 1px 10px;
}

.h_menu > li:hover > ul {
    display: block;
}

.h_menu li:hover,
.h_menu a:hover {
    color: #000;
    background-color: #787878;
}

/********************************************************************
*  Main area
********************************************************************/
.wrap_col {
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
}

.info_col {
    background: #edeef0;
    border-right: 1px solid #c7cacf;
    float: left;
    margin-bottom: -33333px;
    padding: 3px 15px;
    padding-bottom: 33333px;
    width: 179px;
}

.main_col {
    background: #fff;
    float: left;
    margin-bottom: -33333px;
    padding: 3px 15px;
    padding-bottom: 33333px;
    width: 550px;
}

.news_col {
    background: #edeef0;
    border-left: 1px solid #c7cacf;
    float: left;
    margin-bottom: -33333px;
    padding: 3px 15px;
    padding-bottom: 33333px;
    width: 179px;
}

.title_col {
    color: #424c43;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 6px;
    text-align: center;
}

/********************************************************************
*  Copyright in the bottom of the page
********************************************************************/
.copy_right {
    color: #fff;
    clear: both;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
}
