.search__logo {
  background-image: url("../img/logo.png");
  height: 79px;
  width: 292px;
  margin: 30px auto;
}

#search__input {
  font-size: 18px;
  width: 30%;
}

#search__button {
  font-size: 18px;
}

/******************************************************************************
* clearfix
******************************************************************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
