body {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: $containerWidth;
}

@import "components/logo";
@import "components/socials";
@import "components/menu";
@import "home-slider";
@import "home-benefits";
@import "home-services";
@import "home-newsbanners";
@import "home-logos";
@import "components/footer";
