%newsbanners-col {
  color: #000;
  float: left;
  font-family: Ubuntu;
  margin-top: 39px;
  h2 {
    display: block;
    font: {
      weight: 500;
      size: 24px;
    };
    margin: 20px 0 43px 0;
  };
}

.news-banners {
  background-color: #f7f7f7;
  padding-bottom: 77px;
  width: 100%;
}

// ---------------------------------------------------------------------------
//  News Section
// ---------------------------------------------------------------------------
.news {
  @extend %newsbanners-col;
  width: 600px;
}

.news-item {
  background-repeat: no-repeat;
  color: #8a8a8a;
  font-size: 14px;
  height: 150px;
  // overflow: hidden;
  padding-left: 167px;
  // padding-left: 184px;
  position: relative;
  margin-top: 30px;
  margin-left: 17px;
  a {
    color: #248cec;
  };
  h3 {
    font-size: 16px;
    margin: 5px 0;
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: #248cec;
      }
    };
  };
  p {
    padding-top: 10px;
    line-height: 19px;
  };
}

%news-item__month {
  font-size: 18px;
  height: 40px;
  left: -17px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 40px;
  z-index: 10;
}
.news-item__month {
  @extend %news-item__month;
  background-color: #248cec;
  color: #fff;
  top: 12px;
}

.news-item__day {
  @extend %news-item__month;
  background-color: #f4b60d;
  color: #000;
  top: 52px;
}

// ---------------------------------------------------------------------------
//  Banners Section
// ---------------------------------------------------------------------------
.banners {
  @extend %newsbanners-col;
  width: 560px;
}

.banner__bar {
  border: 1px #e8e8e8 solid;
  color: #2a2d32;
  cursor: pointer;
  margin-bottom: 5px;
  padding-left: 38px;
  position: relative;
  &:before {
    content: "+";
    font: {
      size: 20px;
      weight: 300;
    };
    left: 13px;
    position: absolute;
    top: 5px;
  };
  h3 {
    border-left: 2px #e8e8e8 solid;
    font: {
      size: 13px;
      weight: 600;
    };
    line-height: 37px;
    margin: 0 0;
    padding-left: 12px;
  };
}

.banner > p {
  color: #8a8a8a;
  font: {
    family: Arial;
    size: 13px;
    weight: 400;
  };
  height: 0px;
  line-height: 20px;
  margin: 0 0 0 38px;
  overflow: hidden;
  transition: height 0.5s ease-out;
};

.banner--active {
  .banner__bar {
    background-color: #f4b60d;
    border: 2px #f4b60d solid;
    &:before {
      color: #fff;
      content: "-";
      left: 17px;
    };
    h3 {
      border-left: 2px #f6c53d solid;
      color: #fff;
      font-weight: 500;
    };
  };
  p {
    margin: 24px 0 38px 38px;
    height: 100px;
  };
}
