<!--************************************************************************
* 'Discover holiday activity ideas' section
*************************************************************************-->
<section class="ideas">
  <h2 class="ideas__title--top">Discover holiday activity ideas</h2>
  <div class="grid clearfix" data-masonry='{ "itemSelector": ".grid-item", "gutter": 20 }'></div>
  <!-- TEMPLATE - Begin -->
  <script type="text/template" id="ideas__template">
    <% for (var i = 0; i < images.length; i++) { %>
      <% if (i == 4 || i == 5) { %>
      <div class="grid-item grid-item--width2" style="background-image: url(<%= images[i].webformatURL %>);">
      <% } else { %>
      <div class="grid-item" style="background-image: url(<%= images[i].webformatURL %>);">
      <% } %>
        <a href="<%= images[i].pageURL %>" target="_blank">
          <span><%= images[i].tags %></span>
        </a>
      </div>
    <% } %>
  </script>
  <!-- TEMPLATE - End -->
  <h2 class="ideas__title--bottom">Discover holiday activity ideas</h2>
  <p class="ideas__question">Hi! What are your holiday interests?</p>
  <form class="ideas__search clearfix" action="">
    <input type="text" name="searchinput" value="" placeholder="Enter your interests">
    <input type="submit" name="searchbtn" value="Search partners">
  </form>
</section>
