/******************************************************************************
* 'Discover holiday activity ideas' section
******************************************************************************/
.ideas {
  background-color: $color_background_main;
  font-family: $font_main_bold;
  margin: 0 auto 10px;
  padding: 0;
  width: $device_width_small;
  @include mquery(medium) {
    width: $device_width_medium;
  }
  @include mquery(large) {
    width: $device_width_large;
  }
}

%ideas__title {
  color: $color_text_title;
  font-size: 22px;
  text-align: center;
}

.ideas__title--top {
  @extend %ideas__title;
  margin: 34px auto 12px;
  @include mquery(medium) {
    margin: 96px auto 34px;
  }
  @include mquery(large) {
    margin-bottom: 35px;
  }
}

.grid {
  margin: 0 auto;
  width: 300px;
  @include mquery(medium) {
    padding: 0 14px;
    width: $device_width_medium;
  }
  @include mquery(large) {
    padding: 0 0;
    width: $device_width_large;
  }
}

$grid-item-height-s: 120px;
$grid-item-height-m: 310px;
$grid-item-height-l: 298px;

$grid-item-width-s: 300px;
$grid-item-width-m: 235px;
$grid-item-width-l: 300px;

.grid-item {
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  }
  border-radius: 5px;
  height: $grid-item-height-s;
  margin-bottom: 10px;
  width: $grid-item-width-s;
  @include mquery(medium) {
    float: left;
    height: $grid-item-height-m;
    margin-bottom: 20px;
    width: $grid-item-width-m;
  }
  @include mquery(large) {
    width: $grid-item-width-l;
  }
  a {
    background-color: $color_grid_fade;
    border-radius: 5px;
    display: table;
    height: 100%;
    text-decoration: none;
    width: 100%;
    &:hover {
      background-color: $color_grid_fade_hover;
    }
    span {
      color: $color_text_main;
      display: table-cell;
      font-size: 22px;
      text-align: center;
      vertical-align: middle;
      &::first-letter{
        text-transform: uppercase;
      }
    }
  }
}

.grid-item--width2 {
  @include mquery(medium) {
    width: $grid-item-width-m * 2 + 20px;
  }
  @include mquery(large) {
    width: $grid-item-width-l * 2 + 20px;
  }
}

.ideas__title--bottom {
  @extend %ideas__title;
  margin: 26px auto 0px;
  @include mquery(medium) {
    margin:  74px auto 29px;
  }
  @include mquery(large) {
    margin-bottom: 31px;
  }
}

.ideas__question {
  color: $color_text_title;
  font: {
    family: $font_main_light;
    size: 18px;
  }
  margin: 8px 0;
  text-align: center;
}

.ideas__search {
  font-style: $font_main_light;
  font-size: 14px;
  margin: 16px auto 41px;
  @include mquery(medium) {
    margin: 36px auto 100px;
    width: 408px;
  }
  input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    font-family: $font_main_light;
    height: 37px;
    line-height: 37px;
    margin: 0 auto 9px;
    padding: 0px 14px;
    width: 249px;
    @include mquery(medium) {
      float: left;
      margin: 0 auto;
      width: 220px;
    }
    @include mquery(medium) {
      width: 209px;
    }
  }
  input[type="submit"] {
    background-color: $color_controls;
    border: none;
    border-radius: 20px;
    display: block;
    color: $color_text_main;
    font: {
      style: $font_main_bold;
      size: 14px;
    }
    line-height: 38px;
    margin: 0 auto;
    opacity: 0.8;
    padding: 0 0;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.5s;
    width: 276px;
    @include mquery(medium) {
      float: right;
      margin-top: 2px;
      width: 156px;
    }
    @include mquery(large) {
      margin-top: 1px;
      width: 158px;
    }
    &:hover {
      opacity: 1;
    }
  }
}
